 {% load static from staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
  <title>TFJM2</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'inscription/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'inscription/css/custom.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link href="{% static 'inscription/css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
  <script src="{% static 'inscription/js/bootstrap.js' %}"></script>


  {% block style %}
  {% endblock %}
  </style>
</head>
<body>


<div class="container" style="background-color:#FFCFCF;">


<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="{% url "inscription.views.home" %}">TFJM<sup>2</sup></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">

            <div>
              <ul class="nav navbar-nav">
                <!--
                  {% block sidebar %}

                  {% endblock %}
                -->
              </ul>


              {% if user.is_authenticated and user.is_active %}

                <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url "inscription.views.deconnexion" %}"><span class="glyphicon glyphicon-log-out"></span>Déconnexion</a></li>
                </ul>
              {% else %}
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="{% url "inscription.views.connexion" %}"><span class="glyphicon glyphicon-user"></span>Connexion</a></li>
                  <li><a href="{% url "inscription.views.inscription_equipe" %}"><span class="glyphicon glyphicon-log-in"></span>Inscription</a></li>
                </ul>
              {% endif %}

            </div>

        </div>
    </div>
</div>

  </nav>


  <div id="header">
    <center>
    <a href="http://www.tfjm.org/"><img src="{% static 'inscription/images/header.png' %}" alt="" width="720" height="160" /></a>
  </center>
  </div>

  <br>


  {% block info %}
  {% endblock %}

  <br>

<!--
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 700px; margin: 0 auto">

    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>


    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/static/inscription/images/animaths.png" alt="Chania" width="360" height="145">
      </div>

      <div class="item">
        <img src="/static/inscription/images/cap.png" alt="Chania" width="360" height="145">
      </div>

      <div class="item">
        <img src="/static/inscription/images/img04.jpg" alt="Flower" width="360" height="145">
      </div>

      <div class="item">
        <img src="/static/inscription/images/header.png" alt="Flower" width="360" height="145">
      </div>
    </div>


    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Précédent</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Suivant</span>
    </a>
  </div>

-->


  <br>
  <br>

  <div class="row">

  <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked ">
          {% if user.is_authenticated %}
             Connecté en tant que {{ user.username }}.
         {% endif %}
         <br>
          {% block menu %}

          {% endblock %}

      </ul>
  </div>


    <div class="col-md-9" style="background-color:#FE9191;">
  <br>
  <br>
      {% block content %}

          {% endblock %}
      <br>
      <br>
      <br>
            <br>
      <br>
      <br>
            <br>
      <br>
      <br>
            <br>
      <br>
      <br>
    </div>



  </div>

</div>

</body>
</html>