<br>
Bonjour {{ prenom }}!
<br>
<br>

Vous recevez ce message automatisé car vous êtes organisateur d'un des tournois du TFJM<sup>2</sup>. Veuillez trouver ci-dessous vos informations d'utilisateur pour le site officiel des inscriptions. Elles vous permettront de gérer les inscriptions des équipes de votre tournoi.

<br>
<br>

Votre nom d'utilisateur est :

<br>

<b><big>{{ username }}</big></b> 

<br>

et votre mot de passe :

<br>

<b><big>{{ password }}</big></b>

<br>
<br>
Lors de votre prochaine connexion, vous serez invité à changer ce mot de passe :
<br>
https://tfjm2-inscription.herokuapp.com/connexion
<br>
<br>
Merci de votre aide !

<br>
<br>
- Les organisateurs du TFJM<sup>2</sup> -
<br>
