
{% extends "base.html" %}
{% block navbar %}
	<div>
	  <ul class="nav navbar-nav">
		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Le Tournoi<span class="caret"></span></a>
		  <ul class="dropdown-menu">
			<li><a href="{% url "inscription.views.tournoi_information" %}">Information</a></li>
			<li><a href="{% url "inscription.views.programme" %}">Programme</a></li>
			<li><a href="{% url "inscription.views.tournoi_documents" %}">Documents Officiels</a></li>
			<li><a href="{% url "inscription.views.faq" %}">Foire Aux Questions(FAQ)</a></li>
			<li><a href="{% url "inscription.views.jury" %}">Jury</a></li>
			<li><a href="{% url "inscription.views.itym" %}">Tournoi International(ITYM)</a></li>
		  </ul>
		</li>

		<li><a href="{% url "inscription.views.liste_des_problemes" %}">Problèmes</a></li>

		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Edition précédentes<span class="caret"></span></a>
		  <ul class="dropdown-menu">
			<li><a href="{% url "inscription.views.editions_precedentes_participants" %}">Participants</a></li>
			<li><a href="{% url "inscription.views.editions_precedentes_resultats" %}">Résultats</a></li>
			<li><a href="{% url "inscription.views.editions_precedentes_solutions" %}">Solutions écrites</a></li>
			<li><a href="{% url "inscription.views.editions_precedentes_photos_et_videos" %}">Photos et vidéos</a></li>
			<li><a href="{% url "inscription.views.temoignages" %}">Témoignage</a></li>
		  </ul>
		</li>

		<li><a href="{% url "inscription.views.concours_photo" %}">Concours Photo</a></li>

		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Soutenir le TFJM<span class="caret"></span></a>
		  <ul class="dropdown-menu">
			<li><a href="{% url "inscription.views.soutenir_partenaires" %}">Nos Partenaires</a></li>
			<li><a href="{% url "inscription.views.soutenir_partenaires_2014" %}">Nos Partenaires(2014)</a></li>
			<li><a href="{% url "inscription.views.soutenir_comment" %}">Comment soutenir le TFJM ?</a></li>
			<li><a href="{% url "inscription.views.presse" %}">Presse</a></li>
		  </ul>
		</li>

		<li><a href="{% url "inscription.views.contact" %}">Contact</a></li>
	  </ul>

	  {% if user.is_authenticated %}
	  	<ul class="nav navbar-nav navbar-right">
			<li><a href="{% url "inscription.views.deconnexion" %}"><span class="glyphicon glyphicon-log-out"></span>Déconnexion</a></li>
		</ul>
	  {% else %}
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{% url "inscription.views.connexion" %}"><span class="glyphicon glyphicon-user"></span>Connexion</a></li>
			<li><a href="{% url "inscription.views.inscription_equipe" %}"><span class="glyphicon glyphicon-log-in"></span>Inscription</a></li>
		</ul>
	  {% endif %}

	</div>
{% endblock %}

{% block menu %}
	<li><a href="{% url "inscription.views.home" %}">Accueil</a></li>
	<li class="active"><a href="{% url "inscription.views.liste_des_tournois" %}">Liste des tournois</a></li>
	{% if user.is_authenticated %}
		{% if perms.inscription.organisateur %}
			<li><a href="{% url "inscription.views.modifier_profil_organisateur" %}">Profil</a></li>
			<li><a href="{% url "inscription.views.liste_organisateur" %}">Les Organisateurs</a></li>
			<li><a href="{% url "inscription.views.exportation" %}">Exportation de données</a></li>
			<li><a href="{% url "inscription.views.validation" %}">Validation</a></li>
			<li><a href="{% url "inscription.views.paiement" %}">Paiement</a></li>
			<li><a href="{% url "inscription.views.deconnexion" %}">Déconnexion</a></li>
		{% elif perms.inscription.inscrit %}
			<li><a href="{% url "inscription.views.mon_compte" %}">Mon Compte</a></li>
			<li><a href="{% url "inscription.views.mon_equipe" %}">Mon Equipe</a></li>
			<li><a href="{% url "inscription.views.problemes" %}">Mes Problèmes</a></li>
			<li><a href="{% url "inscription.views.deconnexion" %}">Déconnexion</a></li>
		{% elif perms.inscription.admin %}
			<li><a href="{% url "inscription.views.liste_organisateur" %}">Les Organisateurs</a></li>
			<li><a href="{% url "inscription.views.lire_permission" %}">Permissions</a></li>
			<li><a href="{% url "inscription.views.mdp_admin" %}">Changer mot de passe</a></li>
			<li><a href="{% url "inscription.views.log" %}">Log</a></li>
			<li><a href="{% url "inscription.views.deconnexion" %}">Déconnexion</a></li>
		{% else %}
			<li><a href="{% url "inscription.views.inscription_equipe" %}">Inscription</a></li>
			<li><a href="{% url "inscription.views.connexion" %}">Connexion</a></li>
		{% endif %}
	{% else %}
		<li><a href="{% url "inscription.views.inscription_equipe" %}">Inscription</a></li>
		<li><a href="{% url "inscription.views.connexion" %}">Connexion</a></li>
	{% endif %}
{% endblock %}


{% block content %}


	<h2> Modifier des problèmes </h2>

	<br>

	<legend>Problèmes - Equipe {{ equipe.nom_equipe }} </legend>

	<br>		
		<div class="alert alert-info">Lorsque vous enregistrez un problème, il remplacera la dernière version de votre problème qui remplacera à son tour la version précédente.</div>

		<div class="alert alert-danger">Le nom des fichiers ne doit <strong> pas contenir de caractères spéciaux (ACCENTS, espaces, virgules, autres - nommez les par exemple "blank") </strong> sous peine d'erreurs importantes! Le nom n'a pas d'importance - le système le renommera ! Merci de votre compréhension</div>


    	{% if error %}
			<div class="alert alert-warning fade in">
				Les fichiers doivent être en format pdf!
			</div>
		{% elif envoi %}
			<div class="alert alert-success fade in">
				Les fichiers ont été mis à jour.
			</div>

    	{% endif %}


    	{% if probleme_accent %}

    		<div class="alert alert-warning">Le nom de l'un des fichiers comporte un accent!</div>

    	{% endif %}


	    <form method="post" action="" enctype="multipart/form-data">
		    {{ formset.management_form }}
		        {% for key,values in liste.items %}

			        {% for cle,valeur in values.items %}

				        <p>
				            Problème {{ key }} : <a href="{% url "inscription.views.ddl_probleme" equipe=equipe.nom_equipe numero=key version=cle.0 %}"> Télécharger la dernière version de votre problème </a>

				            {% csrf_token %} {{ valeur }}
				        </p>

				        <p>
				            <a href="{% url "inscription.views.ddl_probleme" equipe=equipe.nom_equipe numero=key version=cle.1 %}"> Télécharger la version précédente de votre problème </a>
				        </p>

				        <br>
				        <br>


			        {% endfor %}

		        {% endfor %}
		        <input type="submit" class="btn btn-primary" value="Mettre à jour" />
		</form>


{% endblock %}



{% block sidebar %}

	<li><a href="{% url "inscription.views.tournoi_connecte" lieu=equipe.tournoi.lieu %}"  class="btn btn-default" role="button">{{equipe.tournoi.lieu}}</a></li>

	{% for p in equipes %}
		<li><a href="{% url "inscription.views.lire_equipe" equipe=p.nom_equipe %}"  class="btn btn-default" role="button">{{p.nom_equipe}}</a></li>
	{% endfor %}

{% endblock %}

