
{% extends "base.html" %}
{% block navbar %}
	<div>
	  <ul class="nav navbar-nav">
		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Le Tournoi<span class="caret"></span></a>
		  <ul class="dropdown-menu">
			<li><a href="{% url "inscription.views.tournoi_information" %}">Information</a></li>
			<li><a href="{% url "inscription.views.programme" %}">Programme</a></li>
			<li><a href="{% url "inscription.views.tournoi_documents" %}">Documents Officiels</a></li>
			<li><a href="{% url "inscription.views.faq" %}">Foire Aux Questions(FAQ)</a></li>
			<li><a href="{% url "inscription.views.jury" %}">Jury</a></li>
			<li><a href="{% url "inscription.views.itym" %}">Tournoi International(ITYM)</a></li>
		  </ul>
		</li>

		<li><a href="{% url "inscription.views.liste_des_problemes" %}">Problèmes</a></li>

		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Edition précédentes<span class="caret"></span></a>
		  <ul class="dropdown-menu">
			<li><a href="{% url "inscription.views.editions_precedentes_participants" %}">Participants</a></li>
			<li><a href="{% url "inscription.views.editions_precedentes_resultats" %}">Résultats</a></li>
			<li><a href="{% url "inscription.views.editions_precedentes_solutions" %}">Solutions écrites</a></li>
			<li><a href="{% url "inscription.views.editions_precedentes_photos_et_videos" %}">Photos et vidéos</a></li>
			<li><a href="{% url "inscription.views.temoignages" %}">Témoignage</a></li>
		  </ul>
		</li>

		<li><a href="{% url "inscription.views.concours_photo" %}">Concours Photo</a></li>

		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Soutenir le TFJM<span class="caret"></span></a>
		  <ul class="dropdown-menu">
			<li><a href="{% url "inscription.views.soutenir_partenaires" %}">Nos Partenaires</a></li>
			<li><a href="{% url "inscription.views.soutenir_partenaires_2014" %}">Nos Partenaires(2014)</a></li>
			<li><a href="{% url "inscription.views.soutenir_comment" %}">Comment soutenir le TFJM ?</a></li>
			<li><a href="{% url "inscription.views.presse" %}">Presse</a></li>
		  </ul>
		</li>

		<li><a href="{% url "inscription.views.contact" %}">Contact</a></li>
	  </ul>

	  {% if user.is_authenticated %}
	  	<ul class="nav navbar-nav navbar-right">
			<li><a href="{% url "inscription.views.deconnexion" %}"><span class="glyphicon glyphicon-log-out"></span>Déconnexion</a></li>
		</ul>
	  {% else %}
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{% url "inscription.views.connexion" %}"><span class="glyphicon glyphicon-user"></span>Connexion</a></li>
			<li><a href="{% url "inscription.views.inscription_equipe" %}"><span class="glyphicon glyphicon-log-in"></span>Inscription</a></li>
		</ul>
	  {% endif %}

	</div>
{% endblock %}
{% block menu %}
	<li><a href="{% url "inscription.views.home" %}">Accueil</a></li>
	<li class="active"><a href="{% url "inscription.views.liste_des_tournois" %}">Liste des tournois</a></li>
	{% if user.is_authenticated %}
		{% if perms.inscription.organisateur %}
			<li><a href="{% url "inscription.views.modifier_profil_organisateur" %}">Profil</a></li>
			<li><a href="{% url "inscription.views.liste_organisateur" %}">Les Organisateurs</a></li>
			<li><a href="{% url "inscription.views.exportation" %}">Exportation de données</a></li>
			<li><a href="{% url "inscription.views.validation" %}">Validation</a></li>
			<li><a href="{% url "inscription.views.paiement" %}">Paiement</a></li>
			<li><a href="{% url "inscription.views.deconnexion" %}">Déconnexion</a></li>
		{% elif perms.inscription.inscrit %}
			<li><a href="{% url "inscription.views.mon_compte" %}">Mon Compte</a></li>
			<li><a href="{% url "inscription.views.mon_equipe" %}">Mon Equipe</a></li>
			<li><a href="{% url "inscription.views.problemes" %}">Mes Problèmes</a></li>
			<li><a href="{% url "inscription.views.deconnexion" %}">Déconnexion</a></li>
		{% elif perms.inscription.admin %}
			<li><a href="{% url "inscription.views.liste_organisateur" %}">Les Organisateurs</a></li>
			<li><a href="{% url "inscription.views.lire_permission" %}">Permissions</a></li>
			<li><a href="{% url "inscription.views.mdp_admin" %}">Changer mot de passe</a></li>
			<li><a href="{% url "inscription.views.log" %}">Log</a></li>
			<li><a href="{% url "inscription.views.deconnexion" %}">Déconnexion</a></li>
		{% else %}
			<li><a href="{% url "inscription.views.inscription_equipe" %}">Inscription</a></li>
			<li><a href="{% url "inscription.views.connexion" %}">Connexion</a></li>
		{% endif %}
	{% else %}
		<li><a href="{% url "inscription.views.inscription_equipe" %}">Inscription</a></li>
		<li><a href="{% url "inscription.views.connexion" %}">Connexion</a></li>
	{% endif %}
{% endblock %}


{% block content %}
	<h2> {{ tournoi.lieu }} </h2>
	<h3> Du {{ tournoi.dates }} au {{ tournoi.dates_fin }} </h3>
	<p> {{ tournoi.description }} </p>
	<p> Nombre maximum d'équipes inscrites dans ce tournoi : {{ tournoi.nombre_equipes_validees_max }} </p>
	<p> Organisé par : {{ tournoi.organisateurs }} </p>
	<p> Date limite d'inscription : {{ tournoi.date_limite  }} </p>
    <p> Date limite pour les problèmes : {{ tournoi.date_limite_def }} (Ceci signifie que <strong> la limite est le jour précédent à minuit</strong>. Par exemple, si la date limite est le Lundi 4 avril, la limite est le Dimanche 3 avril à 23:59)</p>
	<br>
	<h3> Informations sur les équipes inscrites à ce tournoi </h3>

    {% if participants %}

    <table class="table table-hover">
	    <thead>
	      <tr>
	        <th>Equipe</th>
	        <th>Trigramme</th>
	        <th>Date d'inscription</th>
	        <th>Etat de validation de l'inscription</th>
	      </tr>
	    </thead>
	    <tbody>
	    {% for p in participants %}

	    	<tr>
	    		{% if ecriture == 1 %}
                	<td><a href="{% url 'inscription.views.lire_equipe' equipe=p.nom_equipe %}"> {{ p.nom_equipe }}</a></td>
	            {% elif p.inscription_validee == '1' %}
	                {% if lecture == 1 %}
	                    <td><a href="{% url 'inscription.views.lire_equipe' equipe=p.nom_equipe %}"> {{ p.nom_equipe }}</a></td>
	                {% else %}
	                    <td>{{ p.nom_equipe }}</td>
	                {% endif %}
	            {% else %}
	            	<td>{{ p.nom_equipe }}</td>
	            {% endif %}

	    		{% if p.trigramme == "T" %}
	      			<td>En attente</td>
	      		{% else %}
	       			<td>{{ p.trigramme }}</td>
	       		{% endif %}

	       		{% if p.date_validation %}
	       			<td>{{ p.date_validation }}</td>
	       		{% else %}
	       			<td>Inscription pas complète</td>
	       		{% endif %}


	       		{% if p.inscription_validee == '0' %}
	        		<td>En attente</td>
	        	{% elif p.inscription_validee == '1' %}
	        		<td>Sélection validée</td>
	        	{% elif p.inscription_validee == '2' %}
	        		<td>Sélection annulée</td>
	        	{% endif %}

	    	</tr>

	    {% endfor %}

	    </tbody>
	  </table>

    {% else %}
        <p class="text-info">> Aucun participant à ce tournoi. </p>
    {% endif %}

    {% if ecriture == 1 %}
        <div class="bouton">
          <p>
            <a href="{% url 'inscription.views.modifier_tournoi' tournoi_lieu=tournoi.lieu  %}"  class="btn btn-default" role="button"> Modifier les informations du tournoi</a>
         </p>
        </div>
    {% endif%}


{% endblock %}

{% block sidebar %}

	{% if perms.inscription.admin %}
		<li><a href="{% url 'inscription.views.ajouter_tournoi' %}"  class="btn btn-default" role="button">Ajouter un tournoi</a></li>
	{% endif %}

	{% for p in tournois %}
		<li><a href="{% url 'inscription.views.tournoi_connecte' lieu=p.lieu %}"  class="btn btn-default" role="button"> {{ p.lieu }} </a></li>
	{% endfor %}

{% endblock %}